.catalog {
    padding-bottom: 70px;

    &__tabs {
        margin-top: 70px;
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
        padding-left: 0;
    }

    &__tab {
        width: 200px;
        height: 50px;
        border: 2px solid #d0d0d0;
        color: #6b6b6b;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        line-height: 48px;
        transform: skewX(-25deg);
        margin: 0 5px;
        cursor: pointer;
        transition: 0.5s all;
        &:hover {
            box-shadow: 0 0 20px #bbb;
            border: none;
        }
        div {
            transform: skewX(25deg); 
        }

        &_active {
            background-color: $main-color;
            color: #fff;
            border-color: $main-color;
        }
    }

    &__content {
        display: none;
        margin-top: 60px;
       &_active {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
       }

    }

    &-item {
        width: 300px;
        min-height: 440px;
        border: 1px solid #e8e8e8;
        overflow: hidden;
        padding: 20px 20px 26px 20px;
        transition: 0.5s all;
        margin-bottom: 20px;
        &:hover {
            box-shadow: 0 0 20px #bbb;
            border: none;
            transform: translateY(-5px);
            border-radius: 10px;
        }

        &__img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
            height: 200px;
        }

        &__subtitle {
            font-style: 16px;
            font-weight: 700;
            color: #0D0D0D;
            text-align: center;
            margin-top: 20px;
        }

        &__descr {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: #0D0D0D;
            margin-top: 15px;
        }

        &__link {
            position: relative;
            font-size: 14px;
            font-weight: 500;
            color: $main-color;
            display: block;
            text-align: center;
            margin-top: 17px;
            &:hover {
                color: darken($main-color, 10%);
            }
            &_back {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                text-decoration: underline;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 500;
                color: $main-color;
                display: block;
                text-align: center;
                &:hover {
                    color: $main-color;
                }
            }
        }
        hr {
            background-color: #e8e8e8;
            margin: 20px 0;
            border-bottom: none;
            opacity: 1;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__old-price {
            font-size: 14px;
            font-weight: 300;
            color: #555555;
            text-decoration: line-through;
        }

        &__price {
            color: #050505;
            font-size: 20px;
            font-weight: 700;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }

        &__content {
            width: 50%;
            margin-right: 0px;
            transform: translateX(-100%);
            transition: 0.5s all;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }

        &__list {
            width: 50%;
            margin-left: 20px;
            transform: translateX(0%);
            padding-right: 20px;
            transition: 0.5s all;

            padding-left: 20px;
            margin-bottom: 0;
            &_active {
                transform: translateX(-100%);
                margin-left: 0;
            }

            li {
                color: $main-color;
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 20px;
                list-style: square;
                span {
                    color: #555;
                }
            }
        }
    }
}