.footer {
    height: 630px;
    position: relative;

    &__info {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background-color: $main-color;
        padding: 50px 70px 60px 70px;
    }

    &__addr {
        margin-bottom: 35px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    &__phone {
        width: 70%;
        color: #fff;
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        display: block;
        margin: 38px auto;
        text-decoration: none;
        transition: 0.5s all;
        border-radius: 30px;
        &:hover {
            background-color: #fff;
            color: $main-color;
            
            
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        &-item {
            display: block;
            margin: 0 15px;
            border-radius: 100%;
            transform: rotate(-360deg);
            transition: 0.8s all;
            &:hover {
                transform: rotate(0);

                background-color: rgba(white, 0.3);
            }
        }

    }

}
